<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">
    {{ 'nfq_sylius_omnisend_plugin.ui.omnisend'|trans }}
</h4>
<div class="ui attached segment">
    {% if form is defined %}
        {{ form_row(form.omnisendTrackingKey) }}
        {{ form_row(form.omnisendApiKey) }}
    {% else %}
        {{ form_row(settings.form.omnisendTrackingKey) }}
        {{ form_row(settings.form.omnisendApiKey) }}
    {% endif %}
</div>
